// SCSS Variable's
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$color-primary:#fcc92f;
$color-secondary:#162028;
$color-red:#ff3b3b;
$color-gray:#7b7b7b;
$color-gray-soft:#f0efef;
$color-black:#1a1b1c;
$color-black-pearl:#16202A;
$color-black-bg:#131415;
$color-white:#ffffff;